:global(.btn) {
  cursor: pointer;
}

:global(.btn.nohover) {
  cursor: default;
  pointer-events: none;
}

:global(.text-size-xs) {
  font-size: 10px;
}

:global(.text-size-sm) {
  font-size: 12px;
}

:global(.text-size-md) {
  font-size: 14px;
}

:global(.text-size-lg) {
  font-size: 16px;
}

:global(.text-size-xlg) {
  font-size: 18px;
}

:global(.btn-xs) {
  padding: .25rem .25rem;
  font-size: .4rem;
  line-height: .75;
  border-radius: .2rem;
}