.OpenedTasksPage {
  width: 450px;
}

img.Settings {
  width: 20px;
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}

img.RunrunIcon {
  width: 20px;
  float: left;
  margin-top: 3px;
  margin-left: 5px;
}